
* { 
   margin-bottom: 0px;
   padding: 0px;
}

body {
 background-color: #F7EDE2; 
}


/* STYLE TEXT */

.title {
  text-align: center;
  padding: .2em;
  margin-left: 7cm;
  margin-right: 7cm;
  margin-top: .3em;
  margin-bottom: 0em;
  font-size: 55px;
  font-family: 'catamaran', sans-serif;
  color: rgb(106, 134, 128);
}

#quote {
  font-size: 35px;
  font-family: 'tajawal', sans-serif;
  margin-right: 15%;
  margin-left: 15%;
  color: rgb(212, 157, 67);
  text-align: center;
  margin-bottom: 0em;
}
#quoteName {
  font-size: 35px;
  font-family: 'tajawal', sans-serif;
  margin-right:40%;
  margin-left: 40%;
  color: rgb(212, 157, 67);
  margin-bottom: 1.3em;
  text-align: center;
  font-style: italic;
  margin-top: 0em;
}

#introCause {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
  font-family: 'tajawal', sans-serif;
  font-size: 22px;
  padding: .5em;
  border: solid 3px;
  border-color:rgb(106, 134, 128);
}


#buttonInvite {
  text-align:center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: 'tajawal', sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-top: 1em;
  color: rgb(77, 97, 93);
}
#factButton {
margin-left: 45%;
margin-right: 42%;
margin-bottom: 1em;
font-size: 20px;
font-family: 'tajawal', sans-serif;
background-color: rgb(106, 134, 128);
color: white;
}
#fact {
  text-align:center;
  margin-top: 0em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  margin-right: .5em;
  margin-left: .5em;
  font-family: 'tajawal', sans-serif;
  font-size: 22px;
  color: rgb(77, 97, 93);
  font-weight: bold;
}
#factGenMess {
   text-align:center;
  margin-top: 0em;
  margin-bottom: 2em;
  font-family: 'tajawal', sans-serif;
}
#attribution1 {
text-align:center;
  margin-top: 0em;
  margin-bottom: 0em;
  font-family: 'tajawal', sans-serif;
}
#attribution2 {
text-align:center;
  margin-top: 0em;
  margin-bottom: 2em;
  font-family: 'tajawal', sans-serif;
}

.factGenerator {
  background-color: rgb(243, 206, 147);
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 15px;
}


#learnTheProblem {
text-align: center;
color: rgb(212, 157, 67);
font-size: 38px;
font-family: 'catamaran', sans-serif;
margin-right: 35%;
margin-left: 35%;
border: 3.5px solid;
}
#learnItMeans {
text-align: center;
color: rgb(212, 157, 67);
font-size: 38px;
font-family: 'catamaran', sans-serif;
margin-right: 30%;
margin-left: 30%;
margin-top: 1em;
border: 3.5px solid;
}
.learnMoreWords {
  margin-top: 1em;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 2em;
  font-family: 'tajawal', sans-serif;
  text-align: center;
  font-size: 20px;
}

#takeActionHeaderSign {
color: rgb(212, 157, 67);
font-size: 35px;
text-align: center;
margin-right: 45%;
margin-left: 45%;
margin-top: 1.25em;
border: solid 3.5px;
font-family: 'catamaran', sans-serif;
}
#takeActionHeaderDonate {
color: rgb(212, 157, 67);
font-size: 35px;
text-align: center;
margin-top: 2em;
margin-right: 43%;
margin-left: 43%;
border: solid 3.5px;
font-family: 'catamaran', sans-serif;
}
#takeActionHeaderSpread {
color: rgb(212, 157, 67);
font-size: 35px;
text-align: center;
margin-right: 39%;
margin-left: 39%;
border: solid 3.5px;
margin-top: 2em;
font-family: 'catamaran', sans-serif; 
}
.takeActionWords {
  text-align: center;
  font-family: 'tajawal', sans-serif;
  font-weight: bold;
  color:rgb(106, 134, 128);
  font-size: 20px;
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 20%;
  margin-right: 20%;
}

#resourcesHeader {
margin-bottom: 1em;
text-align: center;
color: rgb(212, 157, 67);
font-size: 38px;
font-family: 'catamaran', sans-serif;
margin-right: 39%;
margin-left: 39%;
margin-top: 1.25em;
/* border-bottom: 3.5px solid;
padding-bottom: .15px; */
}
.resource {
  margin-bottom: 2em;
  text-align: center;
  font-family: 'tajawal', sans-serif;
  font-size: 22px;
  margin-right: 15%;
  margin-left: 15%;
  text-decoration: none;
  color: rgb(77, 97, 93);
}

/* STYLE IMAGES */

#homeImage {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  border: solid 18px;
  border-color: rgb(248, 207, 201);
}

.logo {
width: 2.5cm;
margin: .75em;
margin-top: .5em;
}

.learnMoreImage {
  width:95%;
  border: 16px solid;
  border-color: #F7EDE2;
}

/* STYLE NAV BAR */

ul {
  font-size: 22px;
  background-color: rgb(248, 207, 201);
  text-align: center;
  padding: .3em;
  margin-bottom: 1.5em;
}

/* STYLE BUTTONS */

li {
  display: inline;
  margin: 8px; 
}

li a {
  font-family: ;
  padding: .6em;
  text-decoration: none;
  color: rgb(212, 157, 67);
  font-weight: bold;
  font-family: 'catamaran', sans-serif;
}

li a:hover{
  background-color: #F28482;
  color: white;
}
#home a {
  color: white;
}
#home {
  font-family: ;
  padding: .5em;
  text-decoration: none;
  background-color: #F28482;
  font-weight: bold;
  font-family: 'catamaran', sans-serif;
}
#learn a {
  color: white;
}
#learn {
  font-family: ;
  padding: .5em;
  text-decoration: none;
  background-color: #F28482;
  font-weight: bold;
  font-family: 'catamaran', sans-serif;
}
#takeAction a {
  color: white;
}
#takeAction {
  font-family: ;
  padding: .5em;
  text-decoration: none;
  background-color: #F28482;
  font-weight: bold;
  font-family: 'catamaran', sans-serif;
}
#resources a {
  color: white;
}
#resources {
  font-family: ;
  padding: .5em;
  text-decoration: none;
  background-color: #F28482;
  font-weight: bold;
  font-family: 'catamaran', sans-serif;
  color: 
}

/* STYLE FLEXBOX */

.heading {
  display: flex;
} 

.flexboxContainer {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
/* background-color: rgb(233, 184, 105); */
background-color: rgb(255, 231, 192);
margin-top: .5em;
margin-bottom: 1em;
}
#flexboxItemMiddle {
flex-basis: 95%;
margin-top: 4em;
margin-bottom: 4em;
padding: 0em;
margin-right: 1em;
margin-left: 1em;
}
.flexboxItem {
flex-basis: 95%;
margin-top: 3em;
margin-bottom: 3em;
padding: 0em;
margin-right: 1em;
margin-left: 1em;
}

.flexboxVideoContainer {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
background-color: rgb(255, 231, 192);
margin-top: 2%;
margin-bottom: 2%;
padding: 2%;
margin-left: 0em;
margin-right: 0em;
}

.flexboxVid {
flex-basis: 100%;
}


@media screen and (max-width: 850px) {
  .flexboxContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 950px) {
  .flexboxVideoContainer {
    flex-wrap: wrap;
  }
}

